<div class="w-full flex justify-center bg-gradient-to-b from-orange-600 to-orange-400 h-[140px] px-6">
  <div class="w-[80%] flex justify-center">
    <div class="pt-[30px] w-[200px]">
      <img width="200" alt="ebay-logo"
        src="https://www.freepnglogos.com/uploads/ebay-logo-png/file-ebay-former-logo-svg-wikipedia-7.png" />
    </div>
    <div class="pt-[40px] pl-[20px] w-[calc(100%_-_200px)]">
      <div class="flex px-4 h-[50px]">
        <input type="text" class="w-[100%] h-[50px] px-2" placeholder="ค้นหาสิ่งที่ต้องการที่นี่..." />
        <button aria-label="search" class="mt-[10px] ml-[-45px] w-[30px] h-[30px] bg-red-600">
          <span class="fas fa-search text-white"></span>
        </button>
      </div>
    </div>
  </div>
</div>