<table class="table">
  <thead>
    <tr>
      <th class="min-w-[150px] border-[1px] border-solid border-black">Action</th>
      <th class="min-w-[80px] border-[1px] border-solid border-black">Id</th>
      <th class="min-w-[150px] border-[1px] border-solid border-black">Firstname</th>
      <th class="min-w-[150px] border-[1px] border-solid border-black">Lastname</th>
      <th class="min-w-[200px] border-[1px] border-solid border-black">Email</th>
      <th class="min-w-[80px] border-[1px] border-solid border-black">Deleted ?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <th class="min-w-[80px] border-[1px] border-solid border-black">
        <button class="bg-lime-600 w-[32px] h-[32px]" aria-label="edit" (click)="clickEdit(i)">
          <span class="fa-solid fa-pen text-white"></span>
        </button>
        <button class="bg-red-600 w-[32px] h-[32px] ml-3" aria-label="delete" (click)="remove(item.id)">
          <span class="fa-solid fa-trash text-white"></span>
        </button>
      </th>
      <th class="min-w-[80px] border-[1px] border-solid border-black">{{item.id}}</th>
      <th class="min-w-[100px] border-[1px] border-solid border-black px-2">
        <ng-container
          *ngIf="rowEditing === i || (rowEditing === -1 && i === (data.length - 1)); then templateFirstname; else elseTemplateFirstname"></ng-container>
        <ng-template #templateFirstname>
          <input type="text" class="border-[1px] border-solid border-gray-400 w-full" placeholder="Edit firstname..."
            [(ngModel)]="item.firstname" />
        </ng-template>
        <ng-template #elseTemplateFirstname>
          {{item.firstname}}
        </ng-template>
      </th>
      <th class="min-w-[100px] border-[1px] border-solid border-black px-2">
        <ng-container
          *ngIf="rowEditing === i || (rowEditing === -1 && i === (data.length - 1)); then templateLastname; else elseTemplateLastname"></ng-container>
        <ng-template #templateLastname>
          <input type="text" class="border-[1px] border-solid border-gray-400 w-full" placeholder="Edit lastname..."
            [(ngModel)]="item.lastname" />
        </ng-template>
        <ng-template #elseTemplateLastname>
          {{item.lastname}}
        </ng-template>
      </th>
      <th class="min-w-[80px] border-[1px] border-solid border-black px-2">
        <ng-container
          *ngIf="rowEditing === i || (rowEditing === -1 && i === (data.length - 1)); then templateEmail; else elseTemplateEmail"></ng-container>
        <ng-template #templateEmail>
          <input type="text" class="border-[1px] border-solid border-gray-400 w-full" placeholder="Edit email..."
            [(ngModel)]="item.email" />
        </ng-template>
        <ng-template #elseTemplateEmail>
          {{item.lastname}}
        </ng-template>
      </th>
      <th class="min-w-[80px] border-[1px] border-solid border-black">
        {{item.is_actived ? 'No' : 'Yes'}}
      </th>
    </tr>
  </tbody>
</table>

<div class="flex w-full mt-4">
  <button class="bg-orange-600 w-[200px] h-[36px]" aria-label="load data" (click)="load()">
    <span class="fa-solid fa-arrows-rotate text-white"></span>
  </button>
  <button class="bg-lime-600 w-[200px] h-[36px] ml-4" aria-label="save data" (click)="update()">
    <span class="fa-solid fa-save text-white"></span>
  </button>
  <button class="bg-yellow-500 w-[200px] h-[36px] ml-4" aria-label="add data" (click)="add()">
    <span class="fa-solid fa-add text-white"></span>
  </button>
  <a class="bg-sky-500 w-[200px] h-[36px] pt-1 block ml-4" aria-label="export data" href="http://localhost:8080/User/export">
    <span class="fa-solid fa-file-excel text-white ml-[90px]"></span>
  </a>
</div>