<div class="grid grid-cols-4">
  <div *ngFor="let item of items; let i = index">
    <div
      class="bg-gradient-to-br to-red-600 from-orange-500 border-solid border-[1px] shadow-gray-600 shadow-2xl border-x-red-600 border-y-yellow-500 min-h-8 p-4 m-4 h-[200px]">
      <div class="flex w-full justify-center">
        <span class="font-bold text-[40px] text-white">
          {{item}}
        </span>
      </div>
      <div class="flex w-full justify-start">
        <span>
          Please input text {{item}} :
        </span>
      </div>
    </div>
  </div>
</div>
<button class="bg-red-600 text-white py-2 px-4 ml-4 mt-4" (click)="testClick()">
  Click here to calculate
</button>